div#location-access
  .panel#location-access-needed
    .modal
      div
        img(src='/img/location-unknown.svg' alt='')
        h1 Where in the world are you?
        p To see nearby volunteering events — we call them missions 😎 — you'll need to share your location. Rest assured that your exact location will never be shared with anyone! No creepy stuff. Cool? Cool.
        a.button.--expand#allow-location-access(href='') Allow location access

  .panel#location-matching
    .modal
      div
        img.spinner(src='/img/icon-near_me.svg' alt='')
        h1 Breathe mindfully.
        p Matching your location...
        
  .panel#location-access-denied
    .modal
      div
        img(src='/img/location-unknown.svg' alt='')
        h1 No locations access = no party
        p Minihero works by showing you missions that are happening nearby. Since you already denied location access, you'll need to go into your browser settings to enable access. Sucks, I know, but #[a(href='http://www.wikihow.com/Enable-Location-Services-on-Google-Chrome' target='_blank') here's a little guide to help you].

  .panel#location-unavailable
    .modal
      div
        img(src='/img/icon-error.svg' alt='')
        h1 Location chakra blocked.
        p Do a Vinyasa flow and try again.
        a.button.--secondary.--expand#retry-location-access(href='') Try again
