.panel#mission-created
  .modal
    div
      img(src='/img/icon-location.svg' alt='')
      h1 Mission Created
      p You'll get an email on damirkotoric@gmail.com when people join your mission. Good work getting the idea out there!
      a.button.--expand(href='') Awesome! Go me.
