.missions__nearby
  label Missions nearby:
  ul
    each sampleMission in sampleMissions
      li
        a.mission__header(href='/mission/'+sampleMission.missionId)
          img.avatar(src=sampleMission.creator.imageUrl)
          div
            h2= sampleMission.title
            span by #{sampleMission.creator.fb.firstName} #{sampleMission.creator.fb.lastName}
