.missions__nearby
  label Minihero Missions nearby:
  ul
    each mission in missions
      if (user && mission.creator.id != user.id) || !user
        li
          a.mission__header(href='/mission/' + mission.missionId)
            img(class='avatar' src='https://graph.facebook.com/' + mission.creator.fb.facebookId + '/picture?type=large')
            div
              h2= mission.title
              span by #{mission.creator.fb.firstName} #{mission.creator.fb.lastName}
