.missions__empty
  .modal
    div
      img(src='/img/icon-gandhi.svg' alt='')
      h1 Be the change#[br] you wish to see in the world.
      p Currently there are no Minihero missions near you, but you can kick things off by creating one yourself. #[a(href='/mission/new') Create a Mission.]
