.sidebar__footer    
  p
    a(href='https://twitter.com/@damirkotoric' target='_blank') #[img(src='/img/icon-twitter.svg' alt='')] Made by @damirkotoric
    a(href='/legalese' target="_blank") Legalese
