extends _layout

block vars

block content
  include partials/_map
  
  .sidebar#sidebar
    div
      
      include partials/_location-access
      include partials/_onboarding
        
      block sidebarContent
    
    include partials/_sidebar-footer
  script(src='https://maps.googleapis.com/maps/api/js?key=' + googleMapsApi + '&libraries=places&callback=initMap', async='', defer='', data-turbolinks-eval='false')
  
