extends _layout

block vars

block content
  include partials/_map
  
  .sidebar#sidebar
    div
      
      include partials/_location-access
      
      if !user || (user && !user.agreedToTerms)
        include partials/_onboarding
        
      block sidebarContent
    
    include partials/_sidebar-footer
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA4vKjKRLNIZ829rfFvz9m_-OFhiORB5Q8&callback=initMap', async='', defer='', data-turbolinks-eval='false')
  
