extends _layout

block vars
  if status == 404
    - var title= "404"
  else
    - var title= "Error"

block content
  if status == 404
    .error.--not-found
      img(src='/img/enso.svg' alt='Nothingness.')
      p Nothingness. #[a(href='/missions' data-turbolinks='false') Back to somethingness.]
  else
    .error.--generic
      img(src='/img/icon-computer-error.svg' alt='')
      p Oh no! The following server chakra is blocked: 
      p "#{message}"
      p Please take a screenshot of this error message and tweet it to #[a(href='https://twitter.com/@damirkotoric' target='_blank') @damirkotoric]. Thanks!
