extends layout

block vars
  - var title= "Supercharge your karma with minute acts of heroism"

block content
  .map(data-turbolinks-permanent)
    .map__container#map__container
    img.map__logo(src='/img/minihero-white.svg' alt='Minihero')
  
  include sidebar
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA4vKjKRLNIZ829rfFvz9m_-OFhiORB5Q8&callback=initMap', async='', defer='')
