extends _map-template

block vars
  - var title= "Create a new Mission"

block sidebarContent
  .panel.--visible
    .mission-admin
      .back
        a(href='/missions')
          i.material-icons arrow_back
          | Show all Missions
      .mission-admin__content
        h1 🎉 Let's plan your Mission!
        include partials/_mission-form
      div.mission-admin__actions
        span 
          | 
        a.button(href='/mission/new' data-mission-create-send) Create Mission
