.sidebar
  div
    .sidebar__preloader
      div
      
    // Onboarding
    include panels/location-access-needed
    include panels/location-access-denied
    include panels/location-matching
    include panels/location-matched
    include panels/location-unavailable
    include panels/onboarding-welcome
    include panels/onboarding-signup
    include panels/onboarding-synching
    include panels/onboarding-synched
    include panels/onboarding-welcome
    include panels/onboarding-house-rules
    include panels/onboarding-terms
    include panels/missions-empty
    include panels/missions
    
    include panels/missions/mission-1
    include panels/missions/mission-2
    include panels/missions/mission-3
    include panels/missions/mission-4
    include panels/missions/mission-5
    include panels/missions/mission-6
    include panels/missions/mission-7
    include panels/missions/mission-8
    
    include panels/mission-new
    include panels/mission-created
  
  .sidebar__footer    
    p
      a(href='https://twitter.com/@damirkotoric' target='_blank') #[img(src='/img/icon-twitter.svg' alt='')] made by @damirkotoric
