html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes zoomAndPan {
  0% {
    transform: scale(1.2) translate(-2%, 2%); }
  100% {
    transform: scale(1) translate(0, 0); } }

@keyframes spin {
  0% {
    opacity: 0.8;
    transform: rotateZ(-30deg); }
  50% {
    opacity: 1;
    transform: rotateZ(30deg); }
  100% {
    opacity: 0.8;
    transform: rotateZ(-30deg); } }

@keyframes drop {
  0% {
    opacity: 0.5;
    transform: scale(2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.--blurred {
  filter: blur(5px);
  opacity: 0.3;
  pointer-events: none; }

.--no-scroll {
  overflow: hidden; }

.turbolinks-progress-bar {
  background: #E46300; }
  .turbolinks-progress-bar::after {
    box-shadow: 0 0 15px #E46300, 0 0 5px #E46300;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 3px;
    width: 100px;
    transform: rotate(3deg) translate(0px, -4px); }

.button:not(.--secondary), .intro__button:not(.--secondary) {
  background: #E46300;
  border-radius: 10px;
  color: white;
  transition: box-shadow 0.5s; }
  .button:hover:not(.--secondary), .intro__button:hover:not(.--secondary) {
    box-shadow: 0 0 10px rgba(228, 99, 0, 0.8); }
  .button:active:not(.--secondary), .intro__button:active:not(.--secondary) {
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.4);
    transition: 0.1s; }

.button, .intro__button {
  display: inline-block;
  font-weight: 600;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  .button.--large, .intro__button {
    font-size: 1.3rem;
    padding: 19px 20px 21px; }
  .button.--secondary, .--secondary.intro__button {
    background: #A54E79;
    border-radius: 10px;
    color: white; }
  .button.--expand, .--expand.intro__button {
    display: block; }

.modal {
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  text-align: center; }
  .modal h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem; }
  .modal p {
    color: rgba(0, 0, 0, 0.6); }
  .modal i {
    font-size: 8rem; }
  .modal .button, .modal .intro__button {
    margin-top: 2rem; }
  .modal.--overlay {
    position: absolute;
    top: 0;
    left: 0; }
  .modal.--success h1 {
    color: #E46300; }
  .modal.--error h1 {
    color: red; }

.sidebar {
  position: absolute;
  top: 80vh;
  width: 100%; }
  @media screen and (min-width: 900px) {
    .sidebar {
      right: 1rem;
      top: 1rem;
      width: 40%;
      max-width: 600px; } }
  @media screen and (min-width: 1200px) {
    .sidebar {
      width: 30%; } }

.panel {
  background: rgba(255, 255, 255, 0.98);
  display: none;
  margin-bottom: .5rem;
  min-height: 300px; }
  @media screen and (min-width: 600px) {
    .panel {
      margin: .5rem; } }
  @media screen and (min-width: 900px) {
    .panel {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      margin: 0 0 1rem 0; } }
  .panel.--visible {
    display: block; }
  .panel#mission-created i {
    animation: drop 0.5s; }
  .panel#matching-location img {
    margin-top: 1.5rem; }
  .panel#matched-location {
    color: #E46300; }
    .panel#matched-location i {
      font-size: 10rem; }

.intro {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  padding: 2rem;
  position: relative;
  text-align: center;
  z-index: 1; }
  @media screen and (min-width: 900px) {
    .intro {
      align-content: center;
      align-items: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
      display: flex;
      flex-wrap: wrap;
      min-height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      width: calc(100% * 1/3); } }
  @media screen and (min-width: 1200px) {
    .intro {
      padding: 4rem; } }
  .intro p {
    margin-bottom: 3rem; }

.intro__button {
  min-width: 0;
  width: 100%; }

.intro__logo {
  display: block;
  height: 35px;
  margin: 2rem auto; }
  @media screen and (min-width: 900px) {
    .intro__logo {
      margin: 2rem 2rem 2rem 0; } }

.intro__scribble {
  margin: 40px auto 0;
  transform: rotate(-2deg); }
  @media screen and (min-width: 900px) {
    .intro__scribble {
      margin: 15px auto 0; } }
  .intro__scribble img {
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: -5px;
    vertical-align: middle; }

.gallery {
  background: #A54E79;
  min-height: 100vh;
  list-style: none;
  overflow: hidden;
  position: relative;
  z-index: 0; }
  @media screen and (min-width: 900px) {
    .gallery {
      float: right;
      width: calc(100% * 2/3); } }
  .gallery li {
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden; }
    .gallery li.--active {
      display: block;
      opacity: 1;
      visibility: visible; }
      .gallery li.--active img {
        animation: zoomAndPan 20s;
        animation-fill-mode: forwards; }
  .gallery img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0; }

.gallery__credits {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.7;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 20px;
  position: absolute;
  z-index: 1; }
  @media screen and (min-width: 900px) {
    .gallery__credits {
      width: 500px; } }
  .gallery__credits br {
    display: none; }
    @media screen and (min-width: 900px) {
      .gallery__credits br {
        display: block; } }
  .gallery__credits > a {
    color: white;
    opacity: 1;
    text-decoration: none; }
    .gallery__credits > a:hover {
      opacity: 0.9; }
    .gallery__credits > a:active {
      opacity: 0.5; }

.map {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.map__container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.map__pins a {
  display: block;
  position: absolute;
  z-index: 1; }
  .map__pins a::after {
    background-image: url("../img/spotlight.svg");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 50px;
    z-index: 0; }

.map__pins .avatar.--small {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-color: rgba(255, 255, 255, 0.8);
  border-width: 2px;
  position: absolute;
  bottom: 23px;
  left: 24px;
  z-index: 1; }

.map__pins .avatar.--current {
  border-color: white; }

.map__logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 15px; }
  @media screen and (min-width: 900px) {
    .map__logo {
      height: 20px; } }

.missions label {
  display: block;
  margin: 0;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem; }

.missions__new {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem; }
  .missions__new span {
    display: block;
    line-height: 1.4;
    margin-right: 1rem; }

.missions__my .mission__header:hover, .missions__nearby .mission__header:hover {
  background: rgba(0, 0, 0, 0.03); }

.missions__my {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem; }
  .missions__my ul {
    list-style: none; }

.missions__nearby {
  padding-bottom: 1rem; }

.mission .back {
  margin-bottom: 1rem; }

.mission__header {
  align-items: center;
  color: black;
  display: flex;
  padding: 0.7rem 1.4rem;
  text-decoration: none; }
  .mission__header .avatar {
    margin-right: 0.7rem; }
  .mission__header div h2 {
    margin-bottom: 0.5rem;
    margin-top: -0.3rem; }
  .mission__header div span {
    opacity: 0.5; }

.mission__participants {
  padding: 1.2rem; }
  .mission__participants img {
    margin: 0.3rem; }

.mission__description {
  padding: 0 1.5rem 1.5rem; }

.mission__meta {
  opacity: 0.6;
  padding: 0 1.5rem 1.5rem; }
  .mission__meta i {
    padding-right: 0.5rem;
    position: relative;
    top: -2px;
    vertical-align: middle; }

.mission__actions {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem; }
  .mission__actions span {
    margin-right: 1rem; }

.avatar {
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  object-fit: cover; }
  .avatar.--current {
    border-color: #A54E79; }
  .avatar.--small {
    border-width: 1px;
    height: 2.5rem;
    width: 2.5rem; }
  .avatar.--large, .avatar.intro__button {
    height: 10rem;
    width: 10rem; }

.back {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1rem; }
  .back a {
    display: inline-block;
    color: black;
    opacity: 0.6;
    padding: 0.5rem;
    text-decoration: none; }
    .back a:hover {
      opacity: 0.8; }
    .back a:active {
      opacity: 0.6; }
  .back i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    position: relative;
    top: -1px;
    vertical-align: middle; }

.spinner {
  animation: spin 3s infinite; }

.new-mission {
  padding: 1.5rem; }

.new-mission__form span.--default {
  display: block; }

.new-mission__form span.--error {
  display: none; }

.new-mission__form .error input, .new-mission__form .error textarea {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: red; }

.new-mission__form .error span {
  color: red; }
  .new-mission__form .error span.--default {
    display: none; }
  .new-mission__form .error span.--error {
    display: block; }

.new-mission__actions {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0; }
  .new-mission__actions span {
    margin-right: 1rem;
    line-height: 1.2; }

.error {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center; }
  .error p {
    max-width: 50rem; }
  .error.--not-found img {
    width: 300px; }
  .error.--not-found p {
    bottom: 0;
    position: absolute; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 12px; }
  @media screen and (min-width: 600px) {
    html {
      font-size: 14px; } }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 15px; } }

h1 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 1.2rem;
  line-height: 1.2; }

p {
  line-height: 1.6;
  margin: 1rem 0; }
  p a {
    color: #E46300;
    font-weight: 600;
    opacity: 0.8;
    text-decoration: none; }
    p a:hover {
      opacity: 1; }
    p a:active {
      opacity: 0.8; }

br {
  display: block;
  height: 100px;
  width: 100%; }

label {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin: 3rem 0; }
  label input, label textarea {
    display: block;
    margin-top: 0.5rem; }
  label textarea {
    min-height: 150px; }
  label span {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: right; }

input, textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 1rem; }
