.panel#location-unavailable
  .modal
    div
      img(src='/img/icon-error.svg' alt='')
      h1 Location chakra blocked.
      p Something something server error. Do a Vinyasa flow and try again.
      a.button.--secondary.--expand#retry-location-access(href='') Try again
