.panel#location-matched
  .modal
    div
      img(src='/img/icon-check.svg' alt='')
      h1 Found ya!
      p You're good to go. Happy Miniheroing.
      a.button.--secondary.--expand(data-panel-close href='') Dismiss
