.panel#location-access-denied
  .modal
    div
      img(src='/img/location-unknown.svg' alt='')
      h1 No locations access = no party
      p Minihero works by showing you missions that are happening nearby. Since you already denied location access, you'll need to go into your browser settings to enable access. Sucks, I know, but #[a(href='http://www.wikihow.com/Enable-Location-Services-on-Google-Chrome' target='_blank') here's a little guide to help you].
