.panel#missions-empty
  .modal
    div
      img(src='/img/gandhi.svg' alt='')
      h1 Be the change you want to see in the world.
      p Currently there are no Minihero missions near you, but you can kick things off by creating one yourself. Below are some examples of missions you might find on Minihero.
