.panel#onboarding-welcome
  .modal
    div
      img(src='/img/minihero-m.svg' alt='')
      h1 Ready to supercharge your karma?
      p Here's how Minihero works: People create missions to volunteer in their community. You can join an existing mission or create one of your own.
      p
        a(href='/signin') Sign in via Facebook
