.panel#onboarding-house-rules
  .modal
    div
      h1 House rule #1: Don't be a douchebag.
      p You've joined an enlightened commune of heros. Or, at the very least, decent people taking time away from focusing on themselves to give back to their community.
      p Be good to your fellow humans.
      a.button.--expand(href='') I promise not to be a douchebag
