.panel#onboarding-terms
  .modal
    div
      h1 Excellent! That's it for the house rules.
      p One last thing. Please read #[a(href='/terms') the terms of use].
      p If you can't be bothered reading legalese, here's a summary:
      p You take full responsibility for your safety and you don't hold Minihero accountable for douchebags you may encounter. Having said that, we pledge to ban douchebags faster than you can say "no douchebags".
      a.button.--expand(href='') I accept the terms of use. Let me in!
