.panel#onboarding-signup
  .modal
    div
      img(src='/img/supercharged-karma.svg' alt='')
      h1 Let's get you supercharging your karma!
      a.button.--expand(href='') Continue with Facebook
      p Minihero will never ever post on your Facebook timeline, or embarass you in any other way in front of your "friends" on Facebook.
