extends ../mission

block vars
  - var missionId = 2
  - var missionCreatorImage = "/img/temp-gordon.jpg"
  - var missionCreatorName = "Gordon Ramsay"
  - var missionTitle = "Help your local soup kitchen"
  - var missionDescription = "Come and enjoy being bossed around by yours-truly, and helping those less priviliged."
  - var missionDateTime = "Saturday, September 9 at 8:00"
  - var missionParticipants = 5
  - var missionParticipantsImages = ['/img/temp-jim.jpg', '/img/temp-zidane.jpg', '/img/temp-tim.jpg', '/img/temp-1.jpg', '/img/temp-2.jpg']
