extends ../mission

block vars
  - var missionId = 1
  - var missionCreatorImage = "/img/temp-cesar.jpg"
  - var missionCreatorName = "Cesar Milan"
  - var missionTitle = "Volunteer at the dog shelter"
  - var missionDescription = "Come play with some of the cats, or take some of our puppies for a walk."
  - var missionDateTime = "Sunday, September 3 at 10:00"
  - var missionParticipants = 6
  - var missionParticipantsImages = ['/img/temp-yasmin.jpg', '/img/temp-peter.jpg', '/img/temp-tim.jpg', '/img/temp-1.jpg', '/img/temp-2.jpg', '/img/temp-3.jpg']
