extends ../mission

block vars
  - var missionId = 6
  - var missionCreatorImage = "/img/temp-ibra.jpg"
  - var missionCreatorName = "Zlatan Ibrahimović"
  - var missionTitle = "Football for Syrian refugees"
  - var missionDescription = "Let's get together and play a friendly match to welcome refugees into our community. Everyone welcome. I'll bring the goals and a ball. Just bring your shoes and your best skills. See you there!"
  - var missionDateTime = "Saturday, September 2 at 11:00"
  - var missionParticipants = 16
  - var missionParticipantsImages = ['/img/temp-yasmin.jpg', '/img/temp-peter.jpg', '/img/temp-tim.jpg', '/img/temp-1.jpg', '/img/temp-2.jpg', '/img/temp-3.jpg', '/img/temp-4.jpg', '/img/temp-5.jpg', '/img/temp-angelina.jpg', '/img/temp-jim.jpg', '/img/temp-keanu.jpg', '/img/temp-cesar.jpg', '/img/temp-ellen.jpg', '/img/temp-gordon.jpg', '/img/temp-ibra.jpg', '/img/temp-zidane.jpg']
