extends ../mission

block vars
  - var missionId = 8
  - var missionCreatorImage = "/img/temp-keanu.jpg"
  - var missionCreatorName = "Keanu Reeves"
  - var missionTitle = "Let's take a walk together"
  - var missionDescription = "No huge agenda. Just a little walk between strangers and sharing some stories. We'll just pick any random direction and see where we end up."
  - var missionDateTime = "Monday, September 11 at 14:00"
  - var missionParticipants = 4
  - var missionParticipantsImages = ['/img/temp-2.jpg', '/img/temp-3.jpg', '/img/temp-4.jpg', '/img/temp-5.jpg']
