extends ../mission

block vars
  - var missionId = 4
  - var missionCreatorImage = "/img/temp-jim.jpg"
  - var missionCreatorName = "Jim Carrey"
  - var missionTitle = "Clean up our neighbourhood"
  - var missionDescription = "Hoooooowwdyy!!! Would you believe it? Our place needs some cleaning up. Get out of your lazy shorts and help us clean it up! I'll bring the plastic gloves. Feel free to bring a stick, spear or whatever else you have lying around. Much love, Jim 😙"
  - var missionDateTime = "Wednesday, September 13 at 17:00"
  - var missionParticipants = 6
  - var missionParticipantsImages = ['/img/temp-ibra.jpg', '/img/temp-tim.jpg', '/img/temp-1.jpg', '/img/temp-2.jpg', '/img/temp-keanu.jpg', '/img/temp-jack.jpg']
