extends ../mission-placeholder

block vars
  - var missionId = 5
  - var missionCreatorImage = "/img/temp-angelina.jpg"
  - var missionCreatorName = "Angelina Jolie"
  - var missionTitle = "Help new immigrants settle in"
  - var missionDescription = "Hello Miniheros! We're hosting a meet-n-greet with newly immigrated families and people who can help them out. You can help people pay bills, explain documents they received and help them with questions they have. It's a pretty casual affair and you can stay as long as you feel like. There's free drinks and snacks provided. There will be a sign at the bottom of the building guiding you to the space where either I or one of my assistants will be waiting to greet you."
  - var missionDateTime = "Thursday, September 14 at 19:00"
  - var missionParticipants = 5
  - var missionParticipantsImages = ['/img/temp-tim.jpg', '/img/temp-ibra.jpg', '/img/temp-2.jpg', '/img/temp-keanu.jpg', '/img/temp-jack.jpg']
