extends ../mission-placeholder

block vars
  - var missionId = 3
  - var missionCreatorImage = "/img/temp-ellen.jpg"
  - var missionCreatorName = "Ellen Degeneres"
  - var missionTitle = "Paint the senior people's home"
  - var missionDescription = "Okay, so here's how we need your help: We need Miniheros ready to help us paint the senior people's home. The place has received a government grant for an expension that it desperately needs. But, in turn the maintenance budget has been cut, and we need your help to put some warmth back in the place. More than anything it's to show the senior citizens that their community is thinking of them and that we care. So whatcha waiting for? Roll up your sleeves and come along. There will be a free lunch served to all participating Miniheros."
  - var missionDateTime = "Sunday, September 10 at 10:00"
  - var missionParticipants = 7
  - var missionParticipantsImages = ['/img/temp-5.jpg', '/img/temp-ibra.jpg', '/img/temp-tim.jpg', '/img/temp-1.jpg', '/img/temp-2.jpg', '/img/temp-keanu.jpg', '/img/temp-jack.jpg']
