extends ../mission-placeholder

block vars
  - var missionId = 7
  - var missionCreatorImage = "/img/temp-jack.jpg"
  - var missionCreatorName = "Jack Black"
  - var missionTitle = "Rock for peace and luuuv 🤘"
  - var missionDescription = "Musicians! There's too much tension in the air. Let's clear it up with some music. My band will play a little bit at the start, and then it's open mic night. We need at least 20 musicians to count on making this happen. If you're not a musician that's cool too. Come along and tell everyone about it!"
  - var missionDateTime = "Saturday, September 2 at 19:00"
  - var missionParticipants = 15
  - var missionParticipantsImages = ['/img/temp-yasmin.jpg', '/img/temp-peter.jpg', '/img/temp-tim.jpg', '/img/temp-1.jpg', '/img/temp-2.jpg', '/img/temp-3.jpg', '/img/temp-4.jpg', '/img/temp-5.jpg', '/img/temp-angelina.jpg', '/img/temp-jim.jpg', '/img/temp-keanu.jpg', '/img/temp-cesar.jpg', '/img/temp-ellen.jpg', '/img/temp-gordon.jpg', '/img/temp-ibra.jpg']
