---
title: Minihero: Help and be helped by people around you.
---

<div class="hero">
  <div>
    <div class="hero__content">
      <h1><img src="images/minihero.svg" alt="Minihero"></h1>
      <p>Generosity ain't dead</p>
      <div class="hero__video">
        <iframe src="https://player.vimeo.com/video/187819553" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="newsletter">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//damir.us9.list-manage.com/subscribe/post?u=5251e1ede3030e4196baed213&amp;id=2d352dc2c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
              	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5251e1ede3030e4196baed213_2d352dc2c1" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe for updates" name="subscribe" id="mc-embedded-subscribe" class="button">
                <div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>
              </div>
          </form>
        </div>
<!--End mc_embed_signup-->
      </div>
      <p><a href="" target="_blank" style="padding-bottom: 10px;">View project on Kickstarter</a></p>
      <p><a href="http://twitter.com/damirkotoric" target="_blank">Follow the creator on Twitter</a></p>
    </div>
  </div>
</div>
