---
title: Minihero: Help and be helped by people around you.
---

<div class="hero">
  <div>
    <div class="hero__content">
      <h1><img src="images/minihero.svg" alt="Minihero"></h1>
      <p>Generosity ain't dead</p>
      <div class="hero__video">
        <iframe src="https://player.vimeo.com/video/187819553" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="button-group">
        <a href="" class="button" target="_blank">View on Kickstarter</a>
        <a href="http://twitter.com/damirkotoric" class="button" target="_blank">Get in touch on Twitter</a>
      </div>
    </div>
  </div>
</div>
