.error
  display: flex
  flex-direction: column
  min-height: 100%
  padding: 1rem
  align-items: center
  justify-content: center

  p
    max-width: 50rem

  &.--not-found
    img
      width: 300px
    p
      bottom: 30px
      position: absolute
