.error
  display: flex
  flex-direction: column
  min-height: 100%
  align-items: center
  justify-content: center

  &.--not-found
    img
      width: 300px
    p
      bottom: 0
      position: absolute
