.mission

  .back
    margin-bottom: 1rem

.mission__header
  align-items: center
  color: black
  display: flex
  padding: 0.7rem 1.4rem
  text-decoration: none

  .avatar
    margin-right: 0.7rem

  div

    h2
      margin-bottom: 0.5rem
      margin-top: -0.3rem

    span
      opacity: 0.5

.mission__participants
  padding: 1.2rem

  img
    margin: 0.3rem

.mission__description
  padding: 0 1.5rem 1.5rem

.mission__meta
  opacity: 0.6
  padding: 0 1.5rem 1.5rem

  i
    padding-right: 0.5rem
    position: relative
    top: -2px
    vertical-align: middle

.mission__actions
  align-items: center
  border-top: 1px solid rgba(black, 0.1)
  display: flex
  justify-content: space-between
  padding: 1.5rem

  span
    margin-right: 1rem
