.panel
  background: rgba(white, 0.98)
  border-radius: 2px
  display: none
  margin-bottom: .5rem
  transition: all 0.2s
  overflow: hidden
  @media screen and (min-width: $breakpoint1)
    margin: .5rem
  @media screen and (min-width: $breakpoint2)
    box-shadow: 0 2px 4px rgba(black, 0.4)
    margin: 0 0 1rem 0

  &.--visible
    display: block

  &.--hiding
    display: block
    margin: 0
    max-height: 0
    min-height: 0
    opacity: 0.2
    transform: scale(0)


  &#mission-created
    i
      animation: drop 0.5s

  &#location-matching
    img
      margin-top: 1.5rem

  &#location-matched
    i
      font-size: 10rem

  &#location-access-denied
    img
      margin-top: 1.5rem
