.panel
  position: absolute
  top: 80vh
  width: 100%
  @media screen and (min-width: $breakpoint2)
    right: 1rem
    top: 1rem
    width: 40%
    max-width: 600px
  @media screen and (min-width: $breakpoint3)
    width: 30%

.panel__block
  background: rgba(white, 0.98)
  margin-bottom: .5rem
  min-height: 300px
  @media screen and (min-width: $breakpoint1)
    margin: .5rem
  @media screen and (min-width: $breakpoint2)
    box-shadow: 0 2px 4px rgba(black, 0.4)
    margin: 0 0 1rem 0

  &#mission-created
    i
      animation: drop 0.5s
