.sidebar
  position: absolute
  top: 80vh
  width: 100%
  @media screen and (min-width: $breakpoint2)
    right: 1rem
    top: 1rem
    width: 40%
    max-width: 600px
  @media screen and (min-width: $breakpoint3)
    width: 30%

.sidebar__footer
  color: white
  padding-bottom: 1rem
  text-align: center

  a
    color: white

  img
    height: 18px
    margin-right: 3px
    vertical-align: middle
